* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #beeef8;
    font-family: sans-serif;
  /*list-style-type: none;*/
    text-align: center;
    margin: 33px;
}

nav ul li {
    list-style-type: none;
    padding: 6px;
}

footer ol li {
    list-style-type: none;
    padding: 6px;
}



