/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
.photo {
    border: 3px solid white;
    border-radius:24%;
    margin-left: 30px;
    margin-top: 33px;
}

body {
    background-color: #beeef8;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.subtitle {
    background-color: white;
    color:rgb(79, 79, 142);
    border: 3px solid rgb(38, 37, 37);
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 15px;
    text-transform: uppercase; 
}

.subtitle h2 {
    margin-left: 30px;
}

.subtitle .post_image {
    margin-left: 30px;
    margin-bottom: 15px;
    border-radius: 6px;
    width: 93%;
}

#title {
    color: rgb(8, 8, 9);
    margin-bottom: 15px;
    padding: 3px;
    
}

/*.subtitle img {
    margin-top: 15px;
    margin-left: 33px;
    border-radius: 6px;
    width: 100%;
}*/

nav ul li {
    list-style-type: none;
    color: #000;
    padding: 3px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

footer ul li {
    list-style-type: none;
    color: #000;
    padding: 3px;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}



